section {
  height: 100vh;
  display: flex;
}

.cover {
  width: 100%;
  padding-right: 20px;
  font-size: 1.5rem;
}

/* ------------------- background colors --------------------------- */
.about-me-section {
  background-color: #f4f4f4; /* Add background color for about me section */
}

.experience-section {
  background-color: white; /* Add background color for about me section */
}
.contact-section {
  background-color: #f4f4f4;
}

/* ------------------- background colors --------------------------- */

/* ------------------- Video --------------------------- */
.video-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  justify-content: center;
}

/* ------------------- Video --------------------------- */

/* ------------------about me section-------------------------------------- */

.about-me-section {
  height: fit-content;
}
.container-wrapper {
  width: 80rem;
  padding: 1rem 2rem 1rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
.heading {
  text-align: center;
  margin: 1rem 0rem 1rem 0rem;
}

.about-me-text p {
  font-size: 18px;
}
.image {
  border-radius: 1rem;
  position: relative;
}
.photo {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------------------about me section-------------------------------------- */

.row-about-me {
  display: flex;
  flex-direction: column;
}

/* ------------------experience section -------------------------------------- */

#projects {
  height: fit-content;
  text-align: center;
}
#text1 {
  font-size: 18px;
}

/* ------------------experience section-------------------------------------- */

/* ------------------connect section-------------------------------------- */

#contact {
  height: fit-content;
}
/* ------------------connect section-------------------------------------- */

.gmail {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 38px;
  a {
    color: black;
    text-decoration: none;
  }
}
/* ------------------projects section-------------------------------------- */

.project-cards {
  display: flex;
  flex-direction: column;
}
/* ------------------projects section-------------------------------------- */

.projects-wrapper {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

/* ------------------footer section-------------------------------------- */
#footer {
  height: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 0.3rem;

  p {
    font-size: 12px;
  }
}
/* ------------------footer section-------------------------------------- */

/* ------------------Responsive section-------------------------------------- */
@media (width > 950px) {
  .row-about-me {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
  }
  .about-me-text {
    width: 60%;
    text-align: justify;
  }
  .photo {
    width: 40%;
  }
  .row-projects {
    display: flex;
    flex-direction: row;
    /* margin: 0 auto; */
    justify-content: center;
  }
}
