.wrapper {
  max-width: 80rem;
  margin: 0 auto;
}
#center {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.center-div {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}
.images {
  max-width: 100%;
  height: auto;
}
#project-overview {
  height: fit-content;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: left;

  h1 {
    font-size: 32px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
    text-align: left;
  }
  p {
    font-family: Lato, sans-serif;
    letter-spacing: 0.01em;
    font-weight: 800;
    font-size: 20px;
  }

  h3 {
    font-size: 24px;
    font-weight: 600;
    font-family: Lato, sans-serif;
    text-align: left;
    letter-spacing: 0.01em;
  }
  img {
    display: flex;
    margin: 0 auto;
  }
}
.case-study {
  max-width: 100vw;
  text-align: center;
  margin: 0 auto;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}
#overview {
  h1 {
    font-size: 32px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
    text-align: left;
  }
}

#problem {
  h1 {
    font-size: 32px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
    text-align: left;
  }
  line-height: 2;
  padding-left: 1rem;
  padding-right: 1rem;

  p {
    font-family: Lato, sans-serif;
    letter-spacing: 0.01em;
    font-weight: 800;
    font-size: 20px;
  }
}

#solution {
  h1 {
    font-size: 32px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
    text-align: left;
  }
  line-height: 2;
  padding-left: 1rem;
  padding-right: 1rem;
  p {
    font-family: Lato, sans-serif;
    letter-spacing: 0.01em;
    font-weight: 800;
    font-size: 20px;
  }
}

#user-research,
#ideation,
#prototyping {
  h1 {
    font-size: 32px;
    font-weight: 900;
    font-family: "Playfair Display", serif;
    text-align: left;
  }
  line-height: 2;
  padding-left: 1rem;
  padding-right: 1rem;
  p {
    font-family: Lato, sans-serif;
    letter-spacing: 0.01em;
    font-weight: 800;
    font-size: 20px;
  }
  li {
    font-family: Lato, sans-serif;
    letter-spacing: 0.01em;
    font-weight: 800;
    font-size: 20px;
  }
  h4,
  h3 {
    font-size: 24px;
    font-weight: 600;
    font-family: "Playfair Display", serif;
    text-align: left;
  }
}

.split-screen-prototyping {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.left {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: left;
  width: 100%;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 100%;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
@media (width > 1250px) {
  // .images {
  //   width: 50%;
  // }
  #center {
    flex-direction: row;
  }
}
.group-pic{
  max-width: 80%;
  border-radius: 10px;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
}